# 这个配置文件内的注释是自动生成的，请不要手动修改。
# 需要修改注释时，请在 src/configs/config_comments.go 文件内修改。
rpc:
  enable: true
  bind: :8080
debug: false
interval: 20
out_put_path: ./
<<<<<<< HEAD
ffmpeg_path: ""
=======
ffmpeg_path: "" # 如果此项为空，就自动在环境变量里寻找
>>>>>>> origin/master
log:
  out_put_folder: ./
  save_last_log: true
  save_every_log: false
  rotate_days: 7
feature:
  use_native_flv_parser: false
  remove_symbol_other_character: false
live_rooms:
<<<<<<< HEAD
- url: https://www.lang.live/room/5664344
  is_listening: false
- url: https://live.bilibili.com/22603245
  is_listening: true
=======
  # quality参数目前仅B站启用，默认为0
  # (B站)0代表原画PRO(HEVC)优先, 其他数值为原画(AVC)
  # 原画PRO会保存为.ts文件, 原画为.flv
  # HEVC相比AVC体积更小, 减少35%体积, 画质相当, 但是B站转码有时候会崩
  - url: https://www.lang.live/room/5664344
    is_listening: false
  - url: https://live.bilibili.com/22603245
    is_listening: true
# '{{ .Live.GetPlatformCNName }}/{{ .HostName | filenameFilter }}/[{{ now | date "2006-01-02 15-04-05"}}][{{ .HostName | filenameFilter }}][{{ .RoomName | filenameFilter }}].flv'
# ./平台名称/主播名字/[时间戳][主播名字][房间名字].flv
# https://github.com/bililive-go/bililive-go/wiki/More-Tips
>>>>>>> origin/master
out_put_tmpl: ""
video_split_strategies:
  on_room_name_changed: false
  max_duration: 0s
  max_file_size: 0
cookies: {}
on_record_finished:
  convert_to_mp4: false
  delete_flv_after_convert: false
<<<<<<< HEAD
  custom_commandline: ""
  fix_flv_at_first: true
timeout_in_us: 60000000
=======
  #  当 custom_commandline 的值 不为空时，convert_to_mp4 的值会被无视，
  #  而是在录制结束后直接执行 custom_commandline 中的命令。
  #  在 custom_commandline 执行结束后，程序还会继续查看 delete_flv_after_convert 的值，
  #  来判断是否需要删除原始 flv 文件。
  #  以下是一个在录制结束后将 flv 视频转换为同名 mp4 视频的示例：
  #  custom_commandline: '{{ .Ffmpeg }} -hide_banner -i "{{ .FileName }}" -c copy "{{ .FileName | trimSuffix (.FileName | ext)}}.mp4"'
  custom_commandline: ""
  fix_flv_at_first: true
timeout_in_us: 60000000
# 通知服务配置
>>>>>>> origin/master
notify:
  telegram:
    enable: false
    withNotification: true
    botToken: ""
    chatID: ""
  email:
    enable: false
<<<<<<< HEAD
    smtpHost: smtp.qq.com
=======
    # SMTP服务器地址 (例如: smtp.gmail.com, smtp.qq.com等)
    smtpHost: smtp.qq.com
    # SMTP服务器端口 (常用端口: 25, 465, 587)
>>>>>>> origin/master
    smtpPort: 465
    senderEmail: ""
    senderPassword: ""
    recipientEmail: ""
<<<<<<< HEAD
app_data_path: .appdata
=======
app_data_path: ""
>>>>>>> origin/master
read_only_tool_folder: ""
tool_root_folder: ""
