.ant-list-item:hover {
    background-color: rgba(232, 232, 232);
}

#art-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 8px;
}

/* 移动端优化 */
@media(max-device-width: 768px) {
    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
        padding: 8px !important;
    }
}